* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    min-height: 100vh;
    background-color: #5691d5;
    background: linear-gradient(282deg, #ffd901 0%, #ffa53e);
}

.box {
    max-width: 500px;
    background: #fff;
    padding: 30px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.upload-area-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.uploadlabel {
    width: 100%;
    min-height: 100px;

    background: #d8d871e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #05050582;
    cursor: pointer;
}

.uploadlabel span {
    font-size: 50px;
    color: #18a7ff;
}

.uploadlabel p {
    font-size: 20px;
    color: #fdfeff;
    font-weight: 800;
    font-family: cursive;
}

.uploaded {
    margin: 30px 0;
    font-size: 16px;
    font-weight: 700;
    color: #a5a5a5;
}

.showFilebox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 15px;
    box-shadow: #0000000d 0px 0px 0px 1px, #d1d5db3d 0px 0px 0px 1px inset;
}

.showFilebox .left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filetype {

    color: #fff;
    padding: 5px 15px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.left h3 {
    font-weight: 600;
    font-size: 18px;
    color: #292F42;
    margin: 0;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
}

.right span {
    background: #18a7ff;
    color: black;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}



.preview-button,
.remove-button {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #ccc;
    border: none;
    color: #fff;
    cursor: pointer;
}

.preview-button {
    background-color: #2ea1e9;
}

.remove-button {
    background-color: red;
}

.button-container {
    display: flex;
    gap: 10px;
}

.image-name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 87px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
}

/* .outputImg {
    position: relative;
}

.imgggg {
    position: absolute;
} */