.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.input-wrapper {
    margin-bottom: 20px;
}

input[type="file"] {
    display: none;
}

.label {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.compressed-image {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}