/* input {
    display: none;
}

.uploadImg {
    height: 25px;
    width: 70px;
    background-color: gray;
    text-align: center;
    border-radius: 5px;
}

.main {
    height: 400px;
    width: 400px;
    background-color: rgb(90, 90, 219);
    display: flex;
    align-items: center;
    justify-content: center;
} */